<ion-header>
    <ion-navbar>
        <ion-buttons end>
            <button ion-button (click)="openHomePage()" detail-none icon-only>
                <ion-icon name="home"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title text-center>Stock chart</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h1 align="center">{{ companyName }}</h1>
    <ib-stock-chart stockSymbol="{{ companySymbol }}"></ib-stock-chart>
    <button ion-button (click)="addStockToWallet(companySymbol)">Add to wallet</button>
    <ib-stock-comment symbol="{{ companySymbol }}"></ib-stock-comment>
    <button ion-button color="danger" (click)="deleteStock(companySymbol)">Remove from wallet</button>
</ion-content>
<ion-nav [root]="rootPage" #content></ion-nav>
