<ion-header>
    <ion-navbar>
        <ion-title text-center>HOME</ion-title>
        <button ion-button menuToggle>
             <ion-icon padding-left name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="refreshData($event)"><ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content></ion-refresher>

    <ion-menu side="left" [content]="content">
          <ion-content>
                <ion-list>
                    <button ion-item (click)="openMyProfile()" detail-none>MY PROFILE</button>
                    <button ion-item (click)="openMyWallet()" detail-none>MY WALLET</button>
                    <button ion-item (click)="openStockQuotes()" detail-none>STOCK QUOTES OF COMPANIES</button>
                    <button ion-item (click)="logout()" detail-none>LOGOUT</button>
                </ion-list>
          </ion-content>
    </ion-menu>

    <h2 id="title" (click)="showToast()">Welcome {{ user.name }}! Click me to show toast!</h2>
    <h2 align="center">MY COMPANY STOCK-CHARTS</h2>
    
    <ion-list>
        <ion-item *ngFor="let stock of stocks">
            <stock-chart stockSymbol="{{ stock.symbol }}"></stock-chart>
        </ion-item>
    </ion-list>
    <ion-fab bottom right>
        <button ion-fab (click)="openStockQuotes()" detail-none icon-only>+</button>
    </ion-fab>
</ion-content>
<ion-nav [root]="rootPage" #content></ion-nav>