<ion-header>
    <ion-navbar>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-refresher (ionRefresh)="refreshData($event)"><ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content></ion-refresher>
        <h2 id="title" (click)="showToast()">Welcome {{ user.name }}! Click me to show toast!</h2>
        <p>TEST TEST TEST TEST</p>
        <button ion-button (click)="getStockFromAPIAndAddToWallet('AAPL')">Add AAPL</button>
        <button ion-button (click)="getStockFromAPIAndAddToWallet('MSFT')">Add MSFT</button>
        <button ion-button (click)="getStockFromAPIAndAddToWallet('FB')">Add FB</button>
         <ul>
          <li *ngFor="let stock of stocks">
            {{ stock.symbol }} - {{ stock.companyName }} - {{ stock.latestPrice }} <button ion-button (click)="deleteStock(stock)">X</button>
          </li>
        </ul>
        <button ion-button (click)="logout()">Logout</button>
</ion-content>
