<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button (click)="openHomePage()" detail-none icon-only>
                <ion-icon name="home"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title text-center>Search stocks</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar
            placeholder="Search stocks"
      (ionInput)="filterStocks($event)">
    </ion-searchbar>

    <ion-list [virtualScroll]="stockSymbols">
      <ion-item *virtualItem="let stockSymbol" (click)="openStockChartPage(stockSymbol.symbol, stockSymbol.name)">
        {{ stockSymbol.symbol }} - {{ stockSymbol.name }}
      </ion-item>
    </ion-list>
</ion-content>
<ion-nav [root]="rootPage" #content></ion-nav>