<ion-header>	
    <ion-navbar>

        <ion-title text-center>Search stocks</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar
            placeholder="Search stocks"
            style="padding-bottom: 20px;"
      (ionInput)="filterStocks($event)">
    </ion-searchbar>
    <ion-list [virtualScroll]="stockSymbols">
      <button ion-item *virtualItem="let stockSymbol" (click)="openStockChartPage(stockSymbol.symbol, stockSymbol.name)">
        {{ stockSymbol.symbol }} - {{ stockSymbol.name }}
      </button>
    </ion-list>
</ion-content>
<ion-nav [root]="rootPage" #content></ion-nav>