<h1 style="padding-top: 20px;">Comments</h1>
<ion-list>
    <ion-item *ngFor="let stockComment of stockComments | async" text-wrap>
        <ion-grid>
            <ion-row align-items-center>
                <ion-col col-4>
                    <ion-icon name="ios-thumbs-down" *ngIf="!stockComment.rating"></ion-icon>
                    <ion-icon name="ios-thumbs-up" *ngIf="stockComment.rating"></ion-icon>
                </ion-col>
                    <ion-col col-8>{{ stockComment.comment }} </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                     {{ formatDateToFromNow(stockComment.timestamp) }}
                </ion-col>
                <ion-col>
                     {{ stockComment.author ? stockComment.author : 'Anonymous' }}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
</ion-list>
<h3>Your rate</h3>
<ion-card style="padding: 10px;">
    <ion-grid>
        <ion-row>
            <ion-col><ion-input placeholder="Short comment" [(ngModel)]="userComment"></ion-input></ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col col-2>
                <ion-icon *ngIf="userRate" (click)="changeUserRate(false)" name="ios-thumbs-down-outline"></ion-icon>
                <ion-icon *ngIf="!userRate" name="ios-thumbs-down"></ion-icon>
            </ion-col>
            <ion-col col-2>
                <ion-icon *ngIf="!userRate" (click)="changeUserRate(true)" name="ios-thumbs-up-outline"></ion-icon>
                <ion-icon *ngIf="userRate" name="ios-thumbs-up"></ion-icon>
            </ion-col>
            <ion-col>
                <button ion-button round (click)="addStockComment()" [disabled]="userComment === ''">Send comment</button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-card>